DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
MONGO_URI=

ABERTOS=1520728529325658214
DENUNCIA=1520728530550263918
BUG=1520728532861321277
DONATE=1520728531720605806
REVOGACAO=
ORGANIZACOES=

LOG_CHANNEL_ID=1520728574284533800

MAX_TICKETS=1

URL_LOGO=https://i.imgur.com/OyUXLxO.png

TEAM_ROLE_ID=1520728407368011947

ENTRADA_CHANNEL_ID=1520728542269411379

# XAMPP TRANSCRIPTS

XAMPP_TRANSCRIPTS_PATH=C:\xampp\htdocs\tickets
TRANSCRIPT_BASE_URL=https://cdn.famosa.city/tickets

RATING_LOG_CHANNEL_ID=1538581563103772742

TRANSCRIPT_UPLOAD_METHOD=xampp

TRANSCRIPT_BACKGROUND_URL=https://i.imgur.com/TfTtUX4.png
TRANSCRIPT_LOGO_URL=https://i.imgur.com/diLPJAN.jpeg